.separator-content{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.separator{
    width: 15rem;
}

@media (max-width: 768px) {
    .separator{
        width: 10rem;
    }
}