.quienes_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.quienes_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elegant-frame{
    margin: 1rem;
}

.nymphes_de_Nysa{
    width: 20rem;
    height: auto;
}

.quienes_text_container{
    width: 22rem;
    margin: 1rem;
}

.quienes_text {
    color: black;
    font-size: 1.3rem;
    -webkit-text-stroke: .5px rgb(66, 66, 66);
    text-align: center;
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 100;
}

@media (max-width: 768px) {
    .quienes_content{
        flex-direction: column;
    }
    .quienes_text_container{
        width: 18rem;
    }

    .quienes_text{
        font-size: 1.1rem;
    }
}