.params-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 30rem;
    background-image: url('/img/mdp.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2rem 0;
}

.params-row{
    display: flex;
    flex-direction: row;
}

.param-corona{
    width: 8rem;
    margin: 1rem;
}

@media (max-width: 768px) {
    .params-container{
        flex-direction: row;
        padding: 3rem 0;
    }

    .params-row{
        flex-direction: column;
    }
}