:root {
  font-family: "Bosque";
  line-height: 1.5;

  color-scheme: light dark;
  color: #77151F;
  /* background-color: #EEE7DD; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never; 
  overflow-x: hidden;

  --bg-color: #EEE7DD;
  --font-h3: #77151F;
  --font-h2: #200205;
  --font-color: #000;
}

[data-theme='dark'] {
  --bg-color: #200205;
  --font-h3: #D9DAD9;
  --font-h2: #D9DAD9;
  --font-color: #933A46;
}

@font-face{
  font-family: "Bosque";
  src: url("./fonts/bosque/BOSQUE.ttf");
}

@font-face{
  font-family: "Autumn";
  src: url("./fonts/autumn_wind/Autumn Wind.ttf");

}

a {
  color: #EEE7DD;
  text-decoration: inherit;
}

a:hover {
  color: #EEE7DD;
}

body {
  margin: 0;
  display: flex;
  box-shadow: 0 0 8rem black inset;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Autumn";
  color: var(--font-h2);
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 4rem;
  -webkit-text-stroke: 1px var(--font-h2);
  margin: 5rem 0 1rem 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  h2 {
    font-weight: 600;
    font-size: 2rem;
  }
}