.fechas-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.fechas-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ninfa_caratula {
    width: 15rem;
    margin: 1rem;
    transition: 1s ease-in-out;
}

.ninfa_caratula.dark {
    filter: invert(1) brightness(.5) sepia(1);
}

.fechas{
    margin: 1rem;
}

.fecha {
    color: var(--font-color);
    font-size: 1.3rem;
    font-family: "Bosque";
    -webkit-text-stroke: .5px var(--font-color);
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 100;
    padding: .5rem;
    transition: 1s ease-in-out;
}

@media (max-width: 768px) {
    .fechas-caratulas {
        display: none;
    }

    .fechas-content {
        width: 19rem;
    }

    .fechas{
        text-align: center;
    }

    .fecha{
        list-style: none;
    }
}